// Bootstrap brand color customization
$brand-primary: #e72b54 !default;
$brand-success: #ec6828!default;
$brand-danger: $red !default;
$brand-warning: $orange !default;
$brand-info: $cyan !default;
$brand-rose: $pink !default;
